<template>
  <section class="ant-layout">
    <div class="ant-row">
      <div class="ant-col ant-col-xl-14 ant-col-xl-offset-4">
        <h1>List the most starred Github repositories in Last 30 Days.</h1>
        <main class="ant-layout-content">
          <GithubRenderTable/>
        </main>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import GithubRenderTable from '@/components/GithubRenderTable.vue'

export default {
  name: 'home',
  created () {
    document.title = 'Appsynth Github Top Stared Descending!'
  },
  components: {
    GithubRenderTable
  },
}
</script>
