<template>
<div>
  <a-table :columns="columns"
    :rowKey="(record, key) => key"
    :dataSource="data"
    :pagination="false"
    :loading="loading"
  >

    <template slot="language" slot-scope="language">
      {{ language ? language.name: '-' }}
    </template>

  </a-table>

  <infinite-loading @infinite="infiniteHandler"></infinite-loading>
</div>
</template>

<script>
import GithubService from '@/services/Github.Service'

// Set Columns for table
const columns = [
  {
    title: 'Repository Name',
    dataIndex: 'name',
    width: '20%',
  },
  {
    title: 'Repository description',
    dataIndex: 'description',
    width: '20%'
  },
  {
    title: 'Total number of stars',
    dataIndex: 'stargazers.totalCount',
    width: '20%'
  },
  {
    title: 'Total number of forks',
    dataIndex: 'forks.totalCount',
    width: '20%'
  },
  {
    title: 'Repository\'s main programming language',
    dataIndex: 'primaryLanguage',
    width: '20%',
    scopedSlots: { customRender: 'language' },
  },
];

export default {
  data() {
    return {
      data: [],
      pagination: {},
      loading: false,
      columns,
      serverStatus: true,
      after: null
    }
  },
  methods: {
    infiniteHandler ($state) {
      let self = this;

      GithubService.getTopStar({after: this.after}).then((response) => {
        if(response.status === 200) {
          this.after = response.data.data.search.pageInfo.endCursor; // Set endCursor
          let dataObj = response.data.data.search;

          if(self.data.length > 0) { // Set obj to Object freeze (optimise big data)
            dataObj.edges.forEach((obj) => {
              self.data = Object.freeze([...self.data, obj.node]);
            });
          } else { // Create Obj freeze
            self.data = Object.freeze(dataObj.edges.map((obj) => {
              return obj.node;
            }));
          }

          if(dataObj.edges.length > 0) {
            $state.loaded();
          } else {
            $state.complete();
          }
        }
      }).catch(error => {
        self.$error({
          title: 'This is an error message',
          content: error,
        });
      });
    }
  }
}
</script>
